<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<form id="compensation_form" method="post">
    {% csrf_token %}
    <div>
        Minimum salary:
        <output name="min_salary" for="min_range">50000</output>
        <br/>
        0
        <input type="range" name="min_range" min="0" max="200000" value="50000" oninput="min_salary.value=min_range.value">
        200000
    </div>
    <br/>
    <div>
        Maximum salary:
        <output name="max_salary" for="max_range">70000</output>
        <br/>
        0
        <input type="range" name="max_range" min="0" max="200000" value="70000" oninput="max_salary.value=max_range.value">
        200000
    </div>
    <br/>
    <div>
        Years of service:
        <output name="service" for="service_range">10</output>
        <br/>
        0
        <input type="range" name="service_range" min="0" max="30" value="10" oninput="service.value=service_range.value">
        30
    </div>
    <br/>
    <div>
        Age:
        <output name="age" for="age_range">40</output>
        <br/>
        20
        <input type="range" name="age_range" min="20" max="80" value="40" oninput="age.value=age_range.value">
        80
        <br/> 
    </div>   
</form>

The delay range is in between : <span id="min_delay"></span> and <span id="max_delay"></span>

<!-- <div id="plotly_json"></div> -->
<script>
    $("#compensation_form").change(function (event) {
      process_compensation();
      event.preventDefault();
    });

    function process_compensation()
    {
        console.log("Min salary = ", $('[name="min_salary"]').val());
        console.log("Max salary = ", $('[name="max_salary"]').val());
        console.log("Service range = ", $('[name="service"]').val());
        console.log("Age = ", $('[name="age"]').val());

        $.ajax(
        {
            url : "{% url 'process-compensation' %}", 
            type : "POST",
            data : {    
                        min_salary: $('[name="min_salary"]').val(),
                        max_salary: $('[name="max_salary"]').val(),
                        service: $('[name="service"]').val(),
                        age : $('[name="age"]').val(),
                        csrfmiddlewaretoken: '{{csrf_token}}',
                    }, 

            // handle a successful response
            success : function(raw) {
                $("#min_delay").html(raw.val_min);
                $("#max_delay").html(raw.val_max);
            },
        });
    };
</script>
