<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<form id="compensation_form" method="post">
    {% csrf_token %}
<!--     Choose the competency level:
    <select name="level">
        <option value="ceo">CEO/President</option>
        <option value="vp">VP</option>
        <option value="lead">Team Leader</option>
        <option value="professional">Professional</option>
    </select>
    <br/>
    <br/>
    Years of service:
    <input type="number" name="years" value="10"/>
    <br/>
 -->    
    Salary per year:
    <output name="amount" for="salary">70000</output>
    <br/>
    0
    <input type="range" name="salary" min="0" max="200000" value="70000" oninput="amount.value=salary.value">
    200000
    <!-- </form> -->
    <br/>    
    <input type="submit" value="Predict Compensation in Months">
    <br/>
</form>

Compensation is : 
<div id="compensation_value"></div>

<div id="plotly_json"></div>
<script>
    $("#compensation_form").change(function (event) {
      process_compensation();
      event.preventDefault();
    });

    function process_compensation()
    {
        console.log("Salary = ", $('[name="salary"]').val());
        $.ajax(
        {
            url : "{% url 'process-compensation' %}", 
            type : "POST",
            data : {    
                        salary : $('[name="salary"]').val(),
                        csrfmiddlewaretoken: '{{csrf_token}}',
                    }, 

            // handle a successful response
            success : function(raw) {
                var traceCEO = {
                                    name: "CEO",
                                    x: raw.years, 
                                    y: raw.predceo,
                                    mode: "lines+markers" 
                                };

                var traceVP = {
                                  name: "VP",
                                  x: raw.years,
                                  y: raw.predvp,
                                  mode: "lines+markers"          
                              };

                var traceLead = {
                                    name: "Lead",
                                    x: raw.years,
                                    y: raw.predlead,
                                    mode: "lines+markers"          
                                };

                var traceProf = {
                                    name: "Prof",
                                    x: raw.years,
                                    y: raw.predprof,
                                    mode: "lines+markers"          
                                };


                var data = [traceCEO, traceVP, traceLead, traceProf];
                var layout = 
                {
                    title: "Delay for different levels for salary " + raw.salary,
                };
                Plotly.newPlot('plotly_json', data, layout);
                $("#compensation_value").html(raw.delay);
            },
        });
    };
</script>
