You've entered the following text:
{{ article_text }}
<br/>
<h4>
The system identified the following objects that might be geographical: 
</h4>
{% for geo in geos %}
<h4>{{ geo }}</h4>
{% endfor %}
<div id="map" style="height: 100%"></div>
<script>
  function initMap() {
    
    boundaries = [];
    polygons = [];

    var resultJSON = JSON.parse("{{ result | escapejs }}");

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), 
    {
      center: resultJSON.center,
      scrollwheel: false,
      zoom: 8
    });

    /*{% for path in paths %}
      boundary = [];
      {% for node in path %}
        boundary.push(new google.maps.LatLng({{ node|first }}, {{ node|last }}));
      {% endfor %}
      
      var polygon = new google.maps.Polygon({ paths : boundary });
      polygon.setMap(map);

      polygons.push(polygon);
    {% endfor %} */

    map.data.addGeoJson(resultJSON.geojson);

    for (var i = 0; i < resultJSON.info.labels.length; i++) 
    {
      var marker = new google.maps.Marker({
                        map: map,
                        animation: google.maps.Animation.DROP,
                        position: resultJSON.info.locations[i],
                        label: resultJSON.info.labels[i],
                      }); 
    } 
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQxn1ZTFWJlmIb0oWeHwfL8_Sbr7YJvOY&callback=initMap" async defer></script>